.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.loginButtonContainer {
  margin-right: 20px;
}

.loginButton,
.logoutButton {
  padding: 8px 16px;
  background-color: #008c8a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logoutButton {
  background-color: #001dc4;
}
